In [2]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
print(beyond_ascii) # [162, 163, 165, 8364, 164]
beyond_ascii = list(filter(lambda c: c > 127, map(ord , symbols)))
print(beyond_ascii) # [162, 163, 165, 8364, 164]

[162, 163, 165, 8364, 164]
[162, 163, 165, 8364, 164]

In [3]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
# 生成元组的列表，首先根据color，然后根据size
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [4]:
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [6]:
tshirts = [(color, size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

In [8]:
symbols = '$¢£¥€¤'
print( tuple(ord(symbol) for symbol in symbols) ) # (36, 162, 163, 165, 8364, 164)
import array
print( array.array('I',(ord(symbol) for symbol in symbols)) )  # array('I', [36, 162, 163, 165, 8364, 164])

(36, 162, 163, 165, 8364, 164)
array('I', [36, 162, 163, 165, 8364, 164])

In [10]:
colors = ['black', 'wihte']
size = ['S', 'M', 'L']
for tshirt in ('%s %s' % (c ,s) for c in colors for s in sizes) :
    print(tshirt)

black S
black M
black L
wihte S
wihte M
wihte L

In [12]:
# Los Angeles 的坐标 
lax_coordinates = (33.9425, -118.408056) 
# 东京的相关信息：名称，年份，人口(千)，人口增长比，面积(平方千米)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014) 
# 元组列表，格式：(城市编码,护照编码)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),  ('ESP', 'XDA205856')]
# passport 代表每个列表元素：元组
for passport in sorted(traveler_ids):
    print( '%s/%s' % passport)
# 这种写法，直接抽取元组中的元素，叫做拆包，这里我们不关心第二个元素，所以用_代替
for country, _ in traveler_ids:
    print(country)

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP

In [13]:
lax_coordinates = (33.9425, -118.408056)
latitude,longitude = lax_coordinates # 拆包
print(latitude,longitude) # 33.9425 -118.408056

33.9425 -118.408056

In [ ]:
b ,a = a , b

In [14]:
divmod(20 , 8)

(2, 4)

In [15]:
t = (20, 8)
divmod(*t)

(2, 4)

In [16]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [17]:
import os
_, filename = os.path.split('~/.ssh/id_rsa.pub')
filename

'id_rsa.pub'

In [18]:
a, b, *rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [19]:
a ,b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [20]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [1]:
a, *body, c, d = range(5)
a, body, c ,d

(0, [1, 2], 3, 4)

In [2]:
*head, b, c, d = range(5)
*head, b, c, d

(0, 1, 2, 3, 4)

In [3]:
head, b, c, d

([0, 1], 2, 3, 4)

In [6]:
# 每个元组都有4个字段，最后一个字段本身是一个元组，代表经纬度
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),   
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
def main():
    print(f'{"":15} | {"lat.":^9} | {"long.":^9}')
    # 通过将最后一个字段赋值给一个元组来拆包
    for name, cc, pop, (latitude, longitude) in metro_areas:  
        if longitude <= 0:
            print(f'{name:15} | {latitude:9.4f} | {longitude:9.4f}')

main()

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [7]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])
print(a == b)
b[-1].append(99)
print(a==b)
print(b)

True
False
(10, 'alpha', [1, 2, 99])

In [9]:
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

tf = (10, 'alpha', (1, 2))
tm = (10, 'alpha', [1, 2])
print(fixed(tf))
print(fixed(tm))

True
False

In [10]:
l =  [10, 20, 30, 40, 50, 60]
l[:2] # 在下标2的位置分割

[10, 20]

In [11]:
l[2:] # 这里是分割的右边

[30, 40, 50, 60]

In [12]:
l[:3] # 在下标3的位置分割

[10, 20, 30]

In [13]:
l[3:]

[40, 50, 60]

In [14]:
s = 'greyfoss'
s[::3]

'gys'

In [15]:
s[::-1]

'ssofyerg'

In [16]:
s[::-2] # 可以看成是，先逆序，再按照间隔2取值

'soyr'

In [21]:
invoice = """
... 0.....6.................................40........52...55........
... 1909  Pimoroni PiBrella                     $17.50    3    $52.50
... 1489  6mm Tactile Switch x20                 $4.95    2     $9.90
... 1510  Panavise Jr. - PV-201                 $28.00    1    $28.00
... 1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95
... """
SKU = slice(0,6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY =  slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:] # 去掉不相关的前两行信息
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

    $17.50   Pimoroni PiBrella
     $4.95   6mm Tactile Switch x20
    $28.00   Panavise Jr. - PV-201
    $34.95   PiTFT Mini Kit 320x240

In [22]:
invoice.split('\n')

['',
 '0.....6.................................40........52...55........',
 '1909  Pimoroni PiBrella                     $17.50    3    $52.50',
 '1489  6mm Tactile Switch x20                 $4.95    2     $9.90',
 '1510  Panavise Jr. - PV-201                 $28.00    1    $28.00',
 '1601  PiTFT Mini Kit 320x240                $34.95    1    $34.95',
 '']

In [29]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
l[2:5] = [20,30] # 原地移除了4，替换了2，3
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [31]:
del l[5:7] # 7-5=2，因此只会删除2个元素，从第5个元素开始
l

[0, 1, 20, 30, 5, 8, 9]

In [32]:
l[3::2] = [11,22] #从第3个元素开始，每2个元素替换一次，依次替换右边的元素
l # 30替换成11，8替换成22

[0, 1, 20, 11, 5, 22, 9]

In [33]:
l[2:5] = 100 #右边只能是可迭代对象

TypeError: can only assign an iterable

In [34]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]